#navbar_color{
    background-color: #E2E2E2;

}

#card_body_color{
    background-color: #B7CECE;


}

#card_container{
    background-color: #BBBAC6;

}

#context_header{
    background-color: #6E7E85;

}